.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
}

.box {
    width: 200px;
    height: 200px;
    background-color: peru;
    color: white;
}