.grid {
    display: grid;
    grid-template-columns: repeat(5, minmax(100px, 1fr));
    grid-template-rows: repeat(4, 100px);
    gap: 5px;
}

.item:nth-child(odd) {
    background-color: #2ecc71;

}

.item:nth-child(even) {
    background-color: bisque;
}