.father {
    display: grid;
    grid-template-columns:  repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 10px;
}
.header {
    background-color: #2ecc71;
    grid-column-start: 1;
    grid-column-end: 5;
}
.content{
    background-color: bisque;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}

.nav {
    background-color: darkorchid;
    grid-row-start: 2;
    grid-row-end: 4;
}
.footer {
    background-color: slategray;
    grid-column-start: 1;
    grid-column-end: 5;
}