.grid {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    grid-auto-rows: 100px;
    gap: 5px;
}

.item:nth-child(odd) {
    background-color: #2ecc71;

}

.item:nth-child(even) {
    background-color: bisque;
}