.wrapper {
    display: flex;
    flex-direction: column;
    /* Main Axis */
    justify-content: space-around;
    /* Cross Axis*/
    align-items: stretch;
    height: 100vh;
}

.box {

    height: 200px;
    background-color: peru;
    color: white;
}